<!DOCTYPE html>
<html>
<head>
<title>年会举办地</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="http://static.5usport.com/sea.js"></script>
<style type="text/css">
body { background-color: #f7f7f7; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0); color: #555; font-family: sans-serif; padding: 15px; }
ul, li { padding: 0; margin: 0; list-style:none; }
p { line-height: 1.6rem; margin-bottom: 0.5rem; }
p img { max-width: 100%; height: auto; }
</style>
</head>
<body ontouchstart="">
<h4>年会举办地</h4>
<p>广州市天河区珠江新城猎德路猎人坊9栋11～12a</p>
<p><img src="http://tvrcgo.qiniudn.com/conferencemap.jpg"></p>
<h4>公司出发路线指引</h4>
<p>1、的士：召集三五同事出发约25元/辆。</p>
<p>2、地铁：地铁六号线团一大广场站乘坐3站至区庄，转乘地铁五号线乘坐5站至猎德站A出口，步行约600米可到</p>
<p>3、公交：步行至大沙头站（海港城）乘坐194路公交车，经9站到达猎德站下车，步行约800米可到。</p>
<h5>如有问题请联系</h5>
<p>叶春敏：13632453551/18102253698</p>
<p>李学超：15989009840/18102265218</p>
</body>
</html>