<!DOCTYPE html>
<html>
<head>
<title>微信登录指引</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<style type="text/css">
body { background-color: #f7f7f7; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0); color: #555; font-family: sans-serif; padding: 15px; }
ol, li { padding: 0; margin: 0; }
li { margin-left: 25px; }
p { line-height: 1.6rem; margin-bottom: 0.5rem; }
.btn { display: inline-block; height: 2.8rem; line-height: 2.8rem; background-color: #f7f7f7; border: 1px solid #777; border-radius: 5px; text-align: center; text-decoration: none; color: #777; width: 95%; margin: 10px 0; }
.btn:active { -webkit-box-shadow:inset 0 0 2px #333; }
.main { }
</style>
</head>
<body ontouchstart="">
<div class="main">
<h3>微信登录</h3>
<h4>微信扫描二维码登录功能是基于微信企业号实现，只有企业员工才有权限扫码登录</h4>
<ol>
	<li><p>进入微信企业号【天天晌网】</p></li>
	<li><p>如果你有扫码登录权限，你会看到【权限管理】应用，进入</p></li>
	<li><p>点击自定义菜单区的【扫码登录】，扫描登录页面的二维码，进行授权</p></li>
</ol>
<p>登录页地址：<br/><small>http://weixin.5usport.com/biz/web/signin</small></p>
</div>
</body>
</html>