<!DOCTYPE html>
<html>
<head>
<title>微信登录</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="http://cdnjs.gtimg.com/cdnjs/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery.qrcode.min.js"></script>
<style type="text/css">
body { background-color: #999; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0); color: #555; font-family: sans-serif; padding: 30px; }
h1, h2, h3, h4, h5 { font-weight: normal; }
ul, li { padding: 0; margin: 0; list-style:none; }
p { line-height: 1.6rem; margin-bottom: 0.5rem; }
.btn { display: inline-block; height: 2.8rem; line-height: 2.8rem; background-color: #f7f7f7; border: 1px solid #777; border-radius: 5px; text-align: center; text-decoration: none; color: #777; width: 95%; margin: 10px 0; }
.btn:active { -webkit-box-shadow:inset 0 0 2px #333; }
.main { max-width: 400px; min-height: 450px; padding: 30px; text-align: center; margin: 0 auto; background-color: #f7f7f7; }
.user { color: #eb6100; }
#qr { margin: 20px auto; }
.tips { border-top: 1px solid #eee; padding-top: 10px; margin-top: 50px; font-size: 0.9em; color: #777; }
</style>
<script type="text/javascript">
$(function(){

	var refer = location.href.indexOf('?refer=')>0 ? location.href.substr(location.href.indexOf('?refer=')+7) : null;
	var qrcode = generateNonceString(64);

	$("#qr").qrcode({
		"render": 'canvas',
		'color': '#777',
		'size' : 200,
		'text': qrcode
	});

	$.ajax({
		url: '/biz/api/wxlogin?q='+qrcode,
		method: 'GET',
		timeout: 100*1000,
		cache: false,
		success: function(user){

			if (user.code==408) {
				var qrcode = generateNonceString(64);
				this.url = '/biz/api/wxlogin?q='+qrcode;
				$("#qr").empty().qrcode({
					"render": 'canvas',
					'color': '#777',
					'size' : 200,
					'text': qrcode
				});

				$.ajax(this);
				return;
			}

			if (user && user.name) {

				$("#status").html('企业成员 <b class="user">'+ user.name + '</b> 已扫描，授权成功');
				setTimeout(function(){
					if (refer) {
						location.href = refer;
					}
				}, 2000);
			}
		},
		error: function(xhr, statusstr, errorThrown) {
			
			if ( xhr.status == 408 ) {

				var qrcode = generateNonceString(64);
				this.url = '/biz/api/wxlogin?q='+qrcode;
				$("#qr").empty().qrcode({
					"render": 'canvas',
					'color': '#777',
					'size' : 200,
					'text': qrcode
				});

				$.ajax(this);   
				return;
			}
			else {
				location.reload();
			}
		}
	});
});

var generateNonceString = function(length){
	var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
	var maxPos = chars.length;
	var noceStr = "";
	for (var i = 0; i < (length || 32); i++) {
		noceStr += chars.charAt(Math.floor(Math.random() * maxPos));
	}
	return noceStr;
};
</script>
</head>
<body ontouchstart="">
<div class="main">
	<h3>微信登录</h3>
	<div id="qr"></div>
	<p id="status">扫上方二维码进行授权</p>
	<p class="tips">进入微信企业号【权限管理】应用，点击【扫描登录】菜单</p>
</div>
</body>
</html>