<% include header.ejs %>
<div class="chua_main">
	 <header class="head_spot">
	         <a class="chead_logo" href=""></a>
			 <div class="c_right">
			      <a class="iconfont chead_sech" href="">&#xe600;</a>
				  <a class="iconfont chead_member" href="">&#xe601;</a>
			 </div>
	 </header>
	 <nav class="spot_nav">
	      <ul class="spot_navul">
		      <li class="current"><a href="http://app.mi.com/detail/96526">热点</a></li>
			  <li><a href="">球迷会</a></li>
		  </ul>
	 </nav>
	 <section class="set_content">
	          <ul class="spot_main">
			      <li> 
				      <div class="spot_list">
					       <a class="spot_img" href=""><img src="images/logo_5u.png" width="100%"></a>
						   <div class="spot_wrap">
						        <a class="s_name" href="">频道我怕KO<span class="stick_jinghua">精华</span></a>
								<div class="spot_p"><span class="time">3分钟</span><span class="from_span">来自 5u体育官方</span><span class="taolun_good">2</span><span class="zan_good">12</span></div>
						   </div>
					  </div>
					  <a class="spot_title" href="">恒大的高拉特和鲁能的问题一样?皇马竟要贷求购C罗纳尔多<span class="add_spot">+5</span></a>
					  <div class="spot_picture cl">
					       <a href=""><img src="images/logo_5u.png"><span class="video_Ico"></span></a>
						   <a href=""><img src="images/logo_5u.png"></a>
						   <a href=""><img src="images/logo_5u.png"></a>
					  </div>
				  </li>
				  <li> 
				      <div class="spot_list">
					       <a class="spot_img" href=""><img src="images/logo_5u.png" width="100%"></a>
						   <div class="spot_wrap">
						        <a class="s_name" href="">频道我怕KO<span class="stick_zhiding">置顶</span></a>
								<div class="spot_p"><span class="time">3分钟</span><span class="from_span">来自 5u体育官方</span><span class="taolun_good">2</span><span class="zan_good">12</span></div>
						   </div>
					  </div>
					  <a class="spot_title" href="">恒大的高拉特和鲁能的问题一样?皇马竟要贷求购C罗纳尔多<span class="add_spot">+5</span></a>
					  <div class="spot_picture cl">
					       <a href=""><img src="images/logo_5u.png"><span class="video_Ico"></span></a>
						   <a href=""><img src="images/logo_5u.png"></a>
						   <a href=""><img src="images/logo_5u.png"></a>
					  </div>
				  </li>
				  <li> 
				      <div class="spot_list">
					       <a class="spot_img" href=""><img src="images/logo_5u.png" width="100%"></a>
						   <div class="spot_wrap">
						        <a class="s_name" href="">频道我怕KO<span class="stick_zhiding">置顶</span></a>
								<div class="spot_p"><span class="time">3分钟</span><span class="from_span">来自 5u体育官方</span><span class="taolun_good">2</span><span class="zan_good">12</span></div>
						   </div>
					  </div>
					  <a class="spot_title" href="">恒大的高拉特和鲁能的问题一样?皇马竟要贷求购C罗纳尔多<span class="add_spot">+5</span></a>
					  <div class="spot_picture cl">
					       <a href=""><img src="images/logo_5u.png"><span class="video_Ico"></span></a>
						   <a href=""><img src="images/logo_5u.png"></a>
						   <a href=""><img src="images/logo_5u.png"></a>
					  </div>
				  </li>
			  </ul>
			  <p><a class="spot_mores" href="">加载更多</a></p>
	 </section>
</div>
<% include footer.ejs %>